@use 'variaveis';

.contact {
  background-color: variaveis.$secondary;
  flex-direction: variaveis.$flex-column;
  width: 100vw;
  max-width: 100vw;
  justify-items: variaveis.$align-center;
  padding-top: variaveis.$padding-large;
  padding-bottom: variaveis.$padding-xlarge;
  margin-left: variaveis.$margin-full-width;
  margin-right: variaveis.$margin-full-width;
}

.contact__container {
  color: variaveis.$primary;
  display: variaveis.$display-flex;
  flex-direction: variaveis.$flex-column;
  align-items: variaveis.$align-center;
  justify-content: variaveis.$justify-center;
  text-align: center;
  max-width: 600px;
  margin: variaveis.$margin-auto;
  padding: 0 variaveis.$padding-medium;
}

.contact__title {
  font-size: $font-size-title;
}

.contact__description {
  font-size: variaveis.$font-size-description;
}

.contact__form {
  display: variaveis.$display-flex;
  align-items: variaveis.$align-center;
  justify-content: variaveis.$justify-center;
  gap: variaveis.$gap-default;
  flex-wrap: wrap;
  width: 70%;
  margin: variaveis.$margin-auto;
}

.contact__form button {
  width: 67%;
  max-width: 100%;
  display: block;
  border-radius: variaveis.$radius-default;
}

.contact__form-group {
  display: variaveis.$display-flex;
  align-items: variaveis.$align-center;
}

#email {
  padding: variaveis.$padding-large variaveis.$padding-medium;
  border-radius: variaveis.$radius-default;
  text-decoration: none;
  margin: variaveis.$margin-medium;
  border: variaveis.$border-none;
  font-size: variaveis.$font-size-base;
}

section:last-of-type {
  padding-bottom: 0;
}
