@use 'variaveis';

.footer {
  background-color: variaveis.$footer-bg;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: variaveis.$padding-large variaveis.$padding-xlarge;
  width: 100%;
  margin: variaveis.$margin-auto;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: variaveis.$gap-list;
}

.footer__logo-text {
  color: variaveis.$primary;
  font-weight: bold;
  font-size: variaveis.$font-size-description;
  letter-spacing: variaveis.$letter-spacing-default;
}

.footer__links {
  display: variaveis.$display-flex;
  gap: variaveis.$gap-footer;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__links a {
  color: variaveis.$primary;
  text-decoration: none;
  font-size: variaveis.$font-size-description;
  transition: variaveis.$transition-default;
  letter-spacing: variaveis.$letter-spacing-default;
}

.footer__links a:hover {
  color: variaveis.$danger;
}

.footer__social {
  display: flex;
  gap: variaveis.$gap-default;
}

.footer__social-link img {
  height: variaveis.$font-size-description;
  transition: variaveis.$transition-default;
}

.footer__social-link:hover img {
  transform: translateY(-6px);
}
