@use 'variaveis'

.header
  padding: 30px 50px
  justify-content: space-around
  flex-direction: row
  position: fixed
  top: 0
  left: 0
  width: 100vw
  z-index: 1000
  background: variaveis.$primary
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.121)

.header__nav
  width: 100%

.header__container
  display: flex
  align-items: center
  justify-content: space-between
  margin: 0 auto
  flex-direction: row
  width: 100%

.header__logo-image
  width: 50px
  height: 50px
  background-color: variaveis.$primary
  padding: 10px

.header__list
  display: flex
  gap: 20px
  margin-bottom: 20px
  background-color: variaveis.$primary
  margin-left: auto
  margin-right: 20px
  align-self: flex-end

.header__list-item
  list-style: none
  background-color: variaveis.$primary
  gap: 10px
  font-size: 22px
  text-decoration: none
  color: rgba(0, 0, 0, 0.371)
  padding: 10px 30px
  cursor: pointer

.header__list-link
  color: rgba(0, 0, 0, 0.371)
  text-decoration: none
  transition: color 0.3s ease

.header__list-link:hover
  border-bottom: 2px solid variaveis.$danger
