@use 'variaveis'

.section
  width: variaveis.$max-width-default
  max-width: variaveis.$max-width-vw
  padding: variaveis.$padding-section
  margin: variaveis.$margin-auto
  display: variaveis.$display-flex
  overflow-x: variaveis.$overflow-x-hidden

.section-center
  justify-content: variaveis.$justify-center
  align-items: variaveis.$align-center

.section__text--center
  text-align: variaveis.$text-align-center

.section__text-title
  font-size: variaveis.$font-size-h1
  font-weight: variaveis.$font-weight-bold
  padding-bottom: variaveis.$padding-xlarge

.section__text-title-small
  font-size: variaveis.$font-size-h1
  font-weight: variaveis.$font-weight-bold
  padding: variaveis.$padding-medium2 0 variaveis.$padding-medium2

.section__text-description
  font-size: variaveis.$font-size-title
  padding-bottom: variaveis.$padding-medium2
  margin-bottom: variaveis.$margin-large
  color: variaveis.$gray
  line-height: variaveis.$line-height-default

.section-container
  width: variaveis.$max-width-default
  max-width: variaveis.$max-width
  margin: variaveis.$margin-auto
  padding-left: variaveis.$padding-medium2
  padding-right: variaveis.$padding-medium2
  box-sizing: variaveis.$box-sizing-border-box

.section-content
  display: variaveis.$display-flex
  align-items: variaveis.$align-items-center
  gap: variaveis.$section-content-gap
  width: variaveis.$max-width-default
  max-width: variaveis.$max-width-default

.section-content-reverse
  flex-direction: variaveis.$flex-direction-row-reverse

.section__text
  flex: 1

.section__image
  flex: 1
  max-width: variaveis.$max-width-default
  height: variaveis.$height-auto

.section__image__trans img:hover
  transform: translateY(-10px) scale(1.03)
  box-shadow: 0 variaveis.$padding-extra-small variaveis.$padding-extra-medium variaveis.$black
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1)

.section-1
  width: variaveis.$max-width-default
  margin-top: variaveis.$margin-large

.section > .contact
  width: variaveis.$max-width-default
  margin: 0
  padding-left: 0 
  padding-right: 0 

.section.contact-section
  padding: 0
  margin: 0
  background: variaveis.$secondary

.section.contact-section > .contact
  width: variaveis.$max-width-default
  position: variaveis.$position-relative
  padding-left: 0 
  padding-right: 0
  justify-content: variaveis.$justify-center
  display: variaveis.$display-flex

@media (max-width: variaveis.$mobile)
  .section-container
    width: variaveis.$max-width-default
    max-width: variaveis.$max-width
    margin: variaveis.$margin-auto
    padding-left: variaveis.$padding-medium
    padding-right: variaveis.$padding-medium
    box-sizing: variaveis.$box-sizing-border-box
  .section-content
    flex-direction: variaveis.$flex-direction-column-reverse
    gap: variaveis.$gap-small
    align-items: variaveis.$align-center
    justify-content: variaveis.$justify-center
  .section__text
    text-align: variaveis.$text-align-center
    width: variaveis.$max-width-default
    padding: 0 variaveis.$padding-small
  .section-1
    //margin-top: variaveis.$margin-top
    width: variaveis.$max-width-default
  .section-1, .section
    scroll-margin-top: variaveis.$scroll-margin-top
  .section__text-title
    font-size: variaveis.$font-size-title
    padding-bottom: variaveis.$padding-medium
  .section__text-description
    font-size: variaveis.$font-size-base
    margin-bottom: variaveis.$margin-medium
    padding-bottom: variaveis.$padding-extra-small
  .section__image
    width: variaveis.$max-width-default
    max-width: variaveis.$max-width-img
    margin: variaveis.$margin-auto
  .section__image img
    width: variaveis.$max-width-default
    margin-bottom: 0
    margin-top: 0 !important

@media (max-width: variaveis.$mobile)
  .section
    padding: variaveis.$padding-large variaveis.$padding-small variaveis.$padding-medium
    margin: variaveis.$margin-auto

  .section, .section-content
    flex-direction: variaveis.$flex-direction-column-reverse
    gap: variaveis.$gap-small
    align-items: variaveis.$align-center
    justify-content: variaveis.$justify-center
    padding: variaveis.$padding-medium variaveis.$padding-small

  .section__text
    text-align: variaveis.$text-align-center
    width: variaveis.$max-width-default
    padding: 0 variaveis.$padding-small

  .section__image
    width: variaveis.$max-width-default
    max-width: variaveis.$max-width-img
    margin: variaveis.$margin-auto


@media (max-width: 991px)
  .section
    padding: variaveis.$padding-extra-large variaveis.$padding-medium variaveis.$padding-xlarge variaveis.$padding-medium
    margin: variaveis.$margin-auto

  .section-1
    margin-top: variaveis.$margin-top
    padding-top: 0 

  .tab-content .section__text
    text-align: variaveis.$text-align-center
    max-width: variaveis.$max-width-contact
    margin: variaveis.$margin-auto

  .section__text-title
    font-size: variaveis.$font-size-h1
    padding-bottom: variaveis.$padding-small

  .section__text-description
    font-size: variaveis.$font-size-base
    margin-bottom: variaveis.$margin-medium
    padding-bottom: variaveis.$padding-small

  .section-content
    flex-direction: variaveis.$flex-direction-column-reverse
    gap: variaveis.$gap-medium
    align-items: variaveis.$align-center
    margin: variaveis.$margin-auto

  .section__image
    max-width: variaveis.$max-width-img
    margin: variaveis.$margin-auto
    display: variaveis.$display-flex
    justify-content: variaveis.$justify-center
    align-items: variaveis.$align-center

  .section-1 .section-content
    flex-direction: variaveis.$flex-direction-column
    align-items: variaveis.$align-center
    text-align: variaveis.$text-align-center

  .section-1 .section__image
    order: -1
    margin: variaveis.$margin-auto
    display: variaveis.$display-flex
    justify-content: variaveis.$justify-center

  .section-1 .section__text
    align-items: variaveis.$align-center
    text-align: variaveis.$text-align-center
    display: variaveis.$display-flex
    flex-direction: variaveis.$flex-direction-column

  .section-1 .btn-group
    justify-content: variaveis.$justify-center
    display: variaveis.$display-flex
    gap: variaveis.$gap-small

    
